/*
COLORS
color-primary :#3f72af
color-primary-dark : #112d4e
color-pimary-light : #dbe2ef
color-pimary-lighter : #f9f7f7
color-text : #4d4646
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media (max-width: 1366px) { /* common laptop screen width */
	
	html{
		font-size: 50%;
	}
	
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color:#4d4646;
    font-family: 'Quicksand', sans-serif;
    padding: 3rem 3rem 0;
    background-color: #f9f7f7;
}

.heading {
    min-height: 20vh;
    background-color: #dbe2ef;
    padding: 3.3rem;
    box-shadow: .5rem .5rem 1rem black;
}

.heading__text{
    text-shadow: 0 .1rem .3rem #112d4e;
    text-align: center;
}

.heading__text--primary{
    font-size: 5rem;
    font-weight: 700;
    display:block;
} 

.heading__text--secondary{
    font-size: 1.5rem;
    display:block;
}

.content {
    min-height: 73vh;
    background-color: #3f72af;
    box-shadow: .5rem .5rem 1rem black;
    padding: 3rem;
}

.row {
    /* more will be added if needed */
}

.row::after {
    content: "";
    display: table;
    clear:both;
}

.col{
    width: calc((100% - 3 * 3.2rem) / 4 );
    height: 40rem;
    float: left;
}

.col:not(:last-child) {
    margin-right: 3.2rem;
}

.card {
    padding:1.6rem;
    height: 100%;
    background-color: #112d4e;
    border-radius: .5rem;
    box-shadow: 0 .5rem .6rem black;
    transition: all .2s;
}
.card:hover {
    transform: translateY(-.5rem);
}

.card .card__heading{
    height: calc((100% - .8rem) * .75);
    background-color: white;
    border: solid #112d4e .1rem ;
    margin-bottom: .8rem;
    border-radius: .3rem;
}

.card .card__button{
    text-align: center;
    height:calc((100% - .8rem) * .25);
    background-color: white;
    border: solid #112d4e .1rem ;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 3rem;
    border-radius: .3rem;
}

.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    border: solid #112d4e .1rem;
    border-radius: .5rem;
	width: 50%;
}

.btn:hover {
    color: #ffffff;
    background-color: #112d4e;
}